* {
  margin: 0;
}
div {
  box-sizing: border-box;
}
.header {
  height: 100vh;
  padding: 0;
  background-image: url('./img/header_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.translucent_bg {
  width: 100%;
  height: 100%;
  background-color : rgb(255,255,255,0.2);
}
